{% block przepisy %}
    <div class="col-md-10">
        {% for przepis in przepisy %}
            <div id="przepis">
                <div class="row">
                    <a href="{{ path('przepisid', { 'id': przepis.id }) }}"><h2>{{ przepis.nazwa }}</h2></a>
                </div>
                <div class="row">
                    <h3>Składniki</h3>
                    <div>{{ przepis.skladniki|raw }}</div>
                </div>

                <div class="row">
                    <h3>Kategorie</h3>
                    {% for kategoria in przepis.kategorie %}
                        <div>
                            <a href="{{ path('kategoriaid', { 'id': kategoria.id }) }}">{{ kategoria.nazwa }}</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}