{% block przepis %}
    <div class="col-md-10" id="przepis">
        <div class="col-md-10">
            <h2>{{ przepis.nazwa }}</h2>
        </div>
        <div class="col-md-4">
            <h3>Składniki</h3>
            <h5>{{ przepis.skladniki|raw }}</h5>
        </div>
        <div class="col-md-6" id="zdjecie_przepisu">
            <img src="{{ asset(przepis.zdjecie) }}" class="img-thumbnail">
        </div>
        <div class="col-md-10">
            <h3>Wykonanie</h3>
            <h5>{{ przepis.wykonanie|raw }}</h5>
        </div>
        <div class="col-md-10">
            <h3>Źródło</h3>
            <h5>{{ przepis.zrodlo }}</h5>
        </div>
        <div class="col-md-10">
            <h3>Uwagi</h3>
            <h5>{{ przepis.uwagi|raw }}</h5>
        </div>
        <div class="col-md-10">
            <h3>Kategorie</h3>
            {% for kategoria in przepis.kategorie %}
                <h5>
                    <a href="{{ path('kategoriaid', { 'id': kategoria.id }) }}">{{ kategoria.nazwa }}</a>
                </h5>
            {% endfor %}
        </div>
    </div>
{% endblock %}