{% block przepis %}
    <div class="col-md-10" id="przepis">
        <div class="row">
            <h2>{{ przepis.nazwa }}</h2>
        </div>
        <div class="row">
            <h3>Składniki</h3>
            <div class="text-justify text">{{ przepis.skladniki|nl2br }}</div>
        </div>
        <div class="row">
            <h3>Wykonanie</h3>
            <div class="text-justify text">{{ przepis.wykonanie|nl2br }}</div>
        </div>
        <div class="row">
            <h3>Źródło</h3>
            <div class="text-justify text">{{ przepis.zrodlo }}</div>
        </div>
        <div class="row">
            <h3>Uwagi</h3>
            <div class="text-justify text">{{ przepis.uwagi|nl2br }}</div>
        </div>
        <div class="row">
            <h3>Kategorie</h3>
            {% for kategoria in przepis.kategorie %}
                <div>
                    <a href="{{ path('kategoriaid', { 'id': kategoria.id }) }}">{{ kategoria.nazwa }}</a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}