{% extends '::ksiazkakucharska.html.twig' %}
{% block container %}
    {{ tinymce_init() }}
    <div class="container">
        <div class="row">
            <h2>Dodaj przepis</h2>
            <div>
                {{ form_start(form, { 'attr': { 'novalidate': 'novalidate'}}) }}
                <div id="formularz">
                    <div>
                        <label>Nazwa</label>
                    </div>
                    <div>
                        {{ form_widget(form.nazwa, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div id="blad">
                        {{ form_errors(form.nazwa) }}
                    </div>
                    <div>
                        <label>Składniki</label>
                    </div>
                    <div>
                        {{ form_widget(form.skladniki, {'attr': {'class': 'form-control tinymce'}}) }}
                    </div>
                    <div id="blad">
                        {{ form_errors(form.skladniki) }}
                    </div>
                    <div>
                        <label>Wykonanie</label>
                    </div>
                    <div>
                        {{ form_widget(form.wykonanie, {'attr': {'class': 'form-control tinymce'}}) }}
                    </div>
                    <div id="blad">
                        {{ form_errors(form.wykonanie) }}
                    </div>
                    <div>
                        <label>Źródło</label>
                    </div>
                    <div>
                        {{ form_widget(form.zrodlo, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div id="blad">
                        {{ form_errors(form.zrodlo) }}
                    </div>
                    <div>
                        <label>Uwagi</label>
                    </div>
                    <div>
                        {{ form_widget(form.uwagi, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div id="blad">
                        {{ form_errors(form.uwagi) }}
                    </div>
                    <div>
                        <label>Kategorie</label>
                    </div>
                    <div id="dodajKategorie">
                        {{ form_widget(form.kategorie, {'attr': { 'class': 'form-control'}}) }}
                    </div>
                    <div id="blad">
                        {{ form_errors(form.kategorie) }}
                    </div>
                </div>
                <div id="przycisk">
                    <button class="btn btn-default" type="submit">Dodaj wpis</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    {% block tabelaPrzepisow %}
        {% include('tabelaPrzepisow.html.twig') %}
    {% endblock %}
{% endblock %}