{% extends '::ksiazkakucharska.html.twig' %}
{% block container %}
    <div class="main">
        <div>
            <h2>DODAJ PRZEPIS</h2>
        </div>
        {{ form_start(form, { 'attr': { 'novalidate': 'novalidate'}}) }}
        <div>
            <div class="row">
                <div class="col-md-6">
                    <div id="niskiePole">
                    <h4>Nazwa</h4>
                    {{ form_widget(form.nazwa, {'attr': {'class': 'form-control'}}) }}
                    <div id="blad">{{ form_errors(form.nazwa) }}</div>
                    </div>
                    <h4>Składniki</h4>
                    {{ form_widget(form.skladniki, {'attr': {'class': 'form-control'}}) }}
                    <div id="blad">{{ form_errors(form.skladniki) }}</div>
                    <h4>Wykonanie</h4>
                    {{ form_widget(form.wykonanie, {'attr': {'class': 'form-control'}}) }}
                    <div id="blad">{{ form_errors(form.wykonanie) }}</div>
                    <div id="niskiePole">
                    <h4>Źródło</h4>
                    {{ form_widget(form.zrodlo, {'attr': {'class': 'form-control'}}) }}
                    <div id="blad">{{ form_errors(form.zrodlo) }}</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h4>Uwagi</h4>
                    {{ form_widget(form.uwagi, {'attr': {'class': 'form-control'}}) }}
                    <div id="blad">{{ form_errors(form.uwagi) }}</div>
                   <div id="dodajPrzepisKategorie"><h4>Kategorie</h4>
                    {{ form_widget(form.kategorie, {'attr': { 'class': 'form-control'}}) }}
                    <div id="blad">{{ form_errors(form.kategorie) }}</div>
                   </div>
                </div>
            </div>
            <div>
                <h3>
                    <button type="submit" class="btn btn-primary">Dodaj przepis</button>
                </h3>
            </div>
            {{ form_end(form) }}
            {% block tabelaPrzepisow %}
                {% include('tabelaPrzepisow.html.twig') %}
            {% endblock %}
        </div>
    </div>
{% endblock %}